
<%- include("header"); -%>
<div class="mainSection">
    <div class="main">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ullam vitae laborum cumque suscipit
            aliquid ipsam voluptatibus. Placeat, ducimus? Aliquid iste debitis officia odio dolor dolorum totam
            voluptas
            facere aut, quis nisi corporis maiores ut saepe deserunt consequuntur nulla cum perferendis, quas
            incidunt
            sapiente atque? Culpa, cumque! A earum rem vero saepe id. Placeat provident quod, ab ducimus, quaerat
            veniam
            libero aut dicta reiciendis fugit qui iste quam optio similique illum atque consequuntur quisquam
            laudantium
        </p>
    </div>
</div>


<%- include("footer"); -%>