<%- include("header"); -%>


<h1>Hello, World!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quae quas harum alias nisi ad hic, eveniet nam
    eligendi doloribus quidem maiores vitae reprehenderit impedit? Quibusdam commodi ad voluptate, necessitatibus
    blanditiis eos, consectetur dolorum, quasi perspiciatis voluptates in alias perferendis repellat. Architecto, ut
    sint officia eligendi fugiat doloribus cupiditate adipisci est blanditiis odio reprehenderit quo sit id quaerat?
    Libero iure fuga deleniti magnam? Quod sit impedit adipisci, dolorem qui nemo tenetur commodi. Nesciunt possimus
    porro blanditiis! Placeat pariatur reiciendis natus adipisci error, aliquid exercitationem vitae voluptatem, ipsum
    aliquam quos commodi alias numquam veniam eius suscipit laboriosam eveniet eos. Esse dignissimos nostrum fuga
    laborum molestiae enim beatae nihil alias itaque eos excepturi quia quam nesciunt, dolore, aperiam eum voluptates
    dolorem nobis explicabo asperiores quaerat? Possimus porro iste delectus sequi odio beatae consequuntur aut. Unde,
    odio cum beatae est minima velit placeat dolorem vel minus enim culpa iusto quod magnam nobis quos nesciunt rem
    ipsam sit maiores iure iste nulla. Asperiores esse molestiae corporis deleniti corrupti magnam, exercitationem eum,
    ad similique blanditiis ipsum itaque facilis ab ipsa, labore commodi aliquid unde voluptates amet optio laboriosam?
    Nesciunt fuga animi deleniti incidunt cumque beatae eius dolores facilis sint quis perferendis voluptate amet,
    dolore saepe, ad nam sit, ex labore voluptatem sunt delectus. Molestiae, facilis debitis mollitia enim deleniti
    dignissimos, nulla unde adipisci blanditiis ea ipsum dolor temporibus nam? Harum fugit iusto perspiciatis placeat
    consequatur! Commodi quasi error nam libero culpa itaque et temporibus consequuntur, repellendus sapiente. Autem
    accusantium dolor voluptas beatae. Laudantium perferendis molestiae ab rerum eos laborum officiis cumque ipsa hic.
    Rerum optio odio in ratione necessitatibus, alias quaerat excepturi fuga praesentium aliquam quo nostrum facilis
    repudiandae possimus illo et vero esse ducimus. Vero dignissimos nam perspiciatis, dolor facilis unde, quas rem
    dicta modi, sunt quidem ratione ex id enim repellat. Sed, atque.</p>

    <%- include("footer"); -%>